/*client chatbot styling*/

.poofCard {
    height: 23.5rem !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 38vw;
}

.productCard2 {
    margin-left: 1vw;
    display: flex;
    justify-content: center;
}

.logoImg {
    width: 100%;
}

.poofCardImage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 5vw !important;
    max-height: 90%;
}

.poofProductTitle {
    display: flex;
    position: relative !important;
    color: black !important;
    text-align: center;
    justify-content: center;
    font-size: 15px !important;
    font-weight: 600 !important;
    overflow: hidden;
    max-height: 90px;
    top: 25px;
}

.priceAndLogoContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4px;
}

.cardContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: unset !important;
    height: 100%;
}

.poofPrice {
    color: white;
    font-weight: 700;
    position: absolute;
    bottom: 120px;
    right: 8px;
}

.poofPrice3 {
    font-weight: 700;
    font-size: 2rem;
    color: red;
}

.sourceLogoImg {
    width: 8vw;
    position: relative;
    bottom: 25px;
}

.poofPrice2 {
    border: solid;
    border-radius: 30px;
    padding: 10px 13px;
    background: red;
}

