.appContainer {
    background-image: url("../src/images/poof.jpg");
    background-position: center;
    justify-content: "center";
    height: 120vh;
}

#messageBox {
    padding-left: 15px;
}

@media screen and (max-width: 1000px) {
    .robotPic{
        display: none;
    }
}

input::placeholder{
    color: rgb(218, 95, 95)
}

